.cond
	display block
	margin 0 auto
	padding 0
	width 1200px
	clearfix()
	&-vessel
		float left
		display block
		width 800px
		height 500px
		border 1px solid #000
	&-ui
		float left
		display block
		width 400px
		height 500px
		border 1px solid #000
		border-left none