.cond-ui-wrapper.js-tab-content
	.cond-ui__item
		.cond-ui__caption Состояние:
		.cond-ui__radiobox
			input(id='ice' type='radio' name='condition' checked).cond-ui__radio
			label(for='ice').cond-ui__label Лёд
		.cond-ui__radiobox
			input(id='water' type='radio' name='condition').cond-ui__radio
			label(for='water').cond-ui__label Вода
		.cond-ui__radiobox
			input(id='boil' type='radio' name='condition').cond-ui__radio
			label(for='boil').cond-ui__label Кипящая вода

	.cond-ui__item Объём воды:
		input.cond-ui__input

	.cond-ui__item
		.cond-ui__caption Скорость:
				input(type='radio' name='speed').cond-ui__radio
				input(type='radio' name='speed' checked).cond-ui__radio
				input(type='radio' name='speed').cond-ui__radio
				input(type='radio' name='speed').cond-ui__radio

	.cond-ui__btn.js-stop Стоп
	.cond-ui__btn.js-start Старт
	.cond-ui__btn.js-pause Пауза
