.cond-ui-wrapper.js-tab-content
	.cond-ui__item
		.cond-ui__caption Состояние:
		.cond-ui__radiobox#iceRadio
			input(id='ice' type='radio' name='condition').cond-ui__radio
			label(for='ice').cond-ui__label Лёд
		.cond-ui__radiobox#waterRadio
			input(id='water' type='radio' name='condition' checked).cond-ui__radio
			label(for='water').cond-ui__label Вода
		.cond-ui__radiobox#boilRadio
			input(id='boil' type='radio' name='condition').cond-ui__radio
			label(for='boil').cond-ui__label Кипящая вода

	.cond-ui__item Объём воды:
		input.cond-ui__input.js-volume(value='450' maxlength='3')
		span &nbsp;мл

	.cond-ui__item
		.cond-ui__caption Скорость:
			.cond-ui__speed#slow
				input(type='radio' name='speed' id='speedSlow' checked).cond-ui__radio
				label(for='speedSlow') 1x
			.cond-ui__speed#normal
				input(type='radio' name='speed' id='speedNormal').cond-ui__radio
				label(for='speedNormal') 4x
			.cond-ui__speed#fast
				input(type='radio' name='speed' id='speedFast').cond-ui__radio
				label(for='speedFast') 16x
			.cond-ui__speed#veryFast
				input(type='radio' name='speed' id='speedVeryFast').cond-ui__radio
				label(for='speedVeryFast') 64x

	.cond-ui__btn.js-start Старт
	.cond-ui__btn.js-pause Пауза
	.cond-ui__btn.js-stop Стоп
