.cond-vessel-walls
	.cond-vessel-ice-wrapper.js-ice
		.cond-vessel-ice
	.cond-vessel-water.js-water

.cond-vessel-footer
	.cond-vessel-label.cond-vessel-temperature 10
	.cond-vessel-label.cond-vessel-vol 450